<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ meta.description }}">
<link rel="canonical" href="{{site.url}}{{ page.url }}">

<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
<meta name="msapplication-TileColor" content="#ffc75d">
<meta name="theme-color" content="#ffc75d">

<meta property="og:title" content="{{site.name}}" />
<meta property="og:type" content="website" />    
<meta property="og:image" content="{{site.url}}/img/branchingweb.jpg" />    
<meta property="og:url" content="{{site.url}}/" />
<meta property="og:description" content="{{ meta.description }}" />
<meta property="og:site_name" content="{{site.name}}" />
<meta property="og:locale" content="en_au" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{site.url}}/#site">
<meta name="twitter:title" content="{{site.name}}">
<meta name="twitter:description" content="{{ meta.description }}">
<meta name="twitter:image" content="{{site.url}}/img/branchingweb.jpg">