<!doctype html>
<html lang="en">
  <head>
    {% include "../partials/meta_data.njk" %}
    {% include "../partials/schema_data.njk" %}
    <title>{{ title }}</title>
  </head>
  <body>

    {{ content | safe }}

{% for article in collections.allPages %}
  <a href="{{ article.url }}">{{ article.data.title }}</a>
{% endfor %}

  </body>
</html>